body {
  margin: 20px;
  white-space: nowrap;
}

#link-to-options {
  color: #878889;
  font-size: x-small;
}

.channel-name {
  font-weight: bold;
}

.red-text {
  color: #cc181e;
}

.card-block {
  padding: 0.50rem;
}